Source: lastfm-fingerprinter
Section: sound
Priority: optional
Maintainer: Peter Grundström <petgru@last.fm>
Build-Depends: cdbs ( >= 0.4.28), debhelper (>= 4.1.0), sharutils, libqt4-dev (>= 4.1.0), fftw3-dev
Standards-Version: 3.7.2.2

Package: lastfm-fingerprinter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libqt4-debug (<= 4.1.0)
Recommends: firefox | www-browser
Description: A standalone client for the Last.fm fingerprinter.
 This program will allow you to easy and fast fingerprint whole 
 collections of mp3 files. This will help Last.fm Ltd. to clear
 our database from miss-spellings and wrong metadata. As an effect
 of this your scrobbles will register to the right artist and track
 even if your metadata is wrong.
