[Desktop Entry]
Encoding=UTF-8
Name=Last.fm Fingerprinter
Comment=Fingerprint track for Last.fm
Exec=/usr/bin/last.fingerprinter
Icon=/usr/share/lastfm/icons/as.png
Terminal=false
Type=Application
Categories=Qt;Application;Audio;AudioVideo
StartupNotify=false
