#!/usr/bin/make -f
#
# NOTE build the app first then call
#   debuild -i -us -uc -b

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

clean::
	perl tools/svn-clean.pl

build/lastfm-fingerprinter::
	PATH=/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/X11 qmake-qt4 -config release
	PATH=/usr/lib/icecc/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/X11 $(MAKE) -j8

install/lastfm-fingerprinter::
	cp -R bin last.fm
	
	#rm last.fm/*.plist last.fm/deposx* last.fm/*.dll
	rm -rf `find last.fm -name .svn` last.fm/sqldrivers
	
	mkdir -p $(DEB_DESTDIR)/usr/lib/lastfm
	mkdir -p $(DEB_DESTDIR)/usr/share
	mkdir -p $(DEB_DESTDIR)/usr/bin
	
	mv last.fm/last.fingerprinter $(DEB_DESTDIR)/usr/bin
	mv last.fm/libLastFmFingerprint.* $(DEB_DESTDIR)/usr/lib
	mv last.fm/libLastFmTools.* $(DEB_DESTDIR)/usr/lib
	
	mkdir -p $(DEB_DESTDIR)/usr/share/applications/
	cp -a debian/lastfm-fingerprinter.desktop $(DEB_DESTDIR)/usr/share/applications/
