unicorn--MainWindow {
    background: #1a1a1a; /*qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #211f20, stop:1 #383840 );*/
}

YourStationsWidget, RecentStationsWidget,
QuickStartWidget, MoreStationsWidget {
    background: #242424;
    border-radius: 5px;
    padding-bottom: 20px;
}

RecentStationsWidget > QListWidget
{
    border:none;
    background: #242424;
}

YourStationsWidget > .QLabel,
RecentStationsWidget > .QLabel,
QuickStartWidget > .QLabel,
MoreStationsWidget > .QLabel 
{
    font-weight: bold;
    color: white;
}

QuickStartWidget > QLineEdit {
    top: 10px;
    position: relative;
}

QuickStartWidget > QPushButton,
BackForwardControls > QPushButton {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #7e7e7e, stop:1 #373737 );
    border-radius: 3px;
    color: white;
    border-width: 2px;
    padding:3px 5px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
}

BackForwardControls > #NowPlayingButton {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #cc3333, stop:1 #660000 );
}

QuickStartWidget > QPushButton:pressed,
BackForwardControls > QPushButton:pressed {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #3d3d3d, stop:1 #242424 );
}

BackForwardControls > #NowPlayingButton:pressed {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #781313, stop:1 #3c0404 );
}

PlayableItemWidget {
    color: #7e7e7c;
    border: none;
    text-align: left;
    background-image: url(:/station-start-rest.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin:border;
    padding:5px 0px 5x 30px;
    margin: 0px 5px;
}

PlayableItemWidget:hover {
    background-image: url(:/station-start-onhover.png);
}

PlayableItemWidget:pressed {
    background-image: url(:/station-start-onpress.png);
}

NowPlayingWidget QLabel {
    color: white;
}

PlaybackControlsWidget QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    height: 29px;
    width: 40;
}

PlaybackControlsWidget QPushButton#love {
    background-image: url(:/love-rest.png);
}

PlaybackControlsWidget QPushButton#love:hover {
    background-image: url(:/love-onhover.png);
}

PlaybackControlsWidget QPushButton#love:pressed {
    background-image: url(:/love-onpress.png);
}

PlaybackControlsWidget QPushButton#love:checked {
    background-image: url(:/love-isloved.png);
}

PlaybackControlsWidget QPushButton#ban {
    background-image: url(:/ban-rest.png);
}

PlaybackControlsWidget QPushButton#ban:hover {
    background-image: url(:/ban-onhover.png);
}

PlaybackControlsWidget QPushButton#ban:pressed {
    background-image: url(:/ban-onpress.png);
}

PlaybackControlsWidget QPushButton#play {
    background-image: url(:/play-rest.png);
}

PlaybackControlsWidget QPushButton#play:hover {
    background-image: url(:/play-onhover.png);
}

PlaybackControlsWidget QPushButton#play:pressed {
    background-image: url(:/play-onpress.png);
}

PlaybackControlsWidget QPushButton#play:checked {
    background-image: url(:/stop-rest.png);
}

PlaybackControlsWidget QPushButton#play:hover:checked {
    background-image: url(:/stop-onhover.png);
}

PlaybackControlsWidget QPushButton#play:pressed:checked {
    background-image: url(:/stop-onpress.png);
}

PlaybackControlsWidget QPushButton#skip {
    background-image: url(:/skip-rest.png);
}

PlaybackControlsWidget QPushButton#skip:hover {
    background-image: url(:/skip-onhover.png);
}

PlaybackControlsWidget QPushButton#skip:pressed {
    background-image: url(:/skip-onpress.png);
}

QStatusBar::item {
    border: none;
}

SourceItemWidget {
	background-color: #ffffff;
}

SourceItemWidget QPushButton
{
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 0px;
    height: 15px;
    width: 15px;
	background-image: url(:/delete.png);
}
