unicorn--MainWindow {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #211f20, stop:1 #383840 );
}

YourStationsWidget, RecentStationsWidget {
    background: #211f20;
    border-radius: 10px;
}

YourStationsWidget .QLabel,
RecentStationsWidget .QLabel {
    font-weight: bold;
    color: white;
}

QuickStartWidget > QLineEdit {
    top: 10px;
    position: relative;
}

QuickStartWidget > QPushButton {
    border: none;
    background-color: #8b8b8b;
    color: #ededed;
    padding: 2px 10px 2px 10px;
    bottom: 10px;
}

PlayableItemWidget {
    color: #7e7e7c;
    border: none;
    text-align: left;
    background-image: url(:/play-rest.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin:border;
    padding-left:30px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:5px;
    margin-right:5px;
}

PlayableItemWidget:hover {
    background-image: url(:/play-onhover.png);
}

PlayableItemWidget:pressed {
    background-image: url(:/play-onpress.png);
}

NowPlayingWidget QLabel {
    color: white;
}