body{
    color:#a3a5a8;
	font-size:small;
	font-family:"Lucida Grande";
    padding: 1em;
}

a { color:#077eab; text-decoration: none; }
a:hover { text-decoration: underline; }

#artist:link { color:#fff }
#artist:visited { color:#fff }
#artist { text-decoration:none; color:#fff; font-size: large; margin-bottom: 0px; }
#plays { color:#999; margin-top: 0px; }
#content { background:inherit }
#editme { margin-top:2em; color:#999 }
