body{
    background: #181819;
    color:#fff;
	font-size:small;
	font-family:"Lucida Grande";
}

a { color:#bbb }

#artist:link { color:#fff }
#artist:visited { color:#fff }
#artist { text-decoration:none; color:#fff; font-size: large; margin-bottom: 0px; }
#plays { color:#999; margin-top: 0px; }
#content { background:inherit }
#editme { margin-top:2em; color:#999 }
