unicorn--MainWindow {
    background-color: rgb(20,20,20);
}

MetadataWindow QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    height: 29px;
    width: 40;
}

QScrollArea,
QScrollArea > QWidget,
QScrollArea > QWidget > QWidget {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QScrollArea {
    border: none;
}

MetadataWindow QLabel{ padding: 3px 0px 1px 5px; margin: 0px; font-size: 11px; font-weight: bold;}
MetadataWindow QLabel[alternate="true"]{ background-origin: margin; background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:1 #171717, stop:0 #212222 ); }
MetadataWindow QLabel#name { color: #afafaf; margin-left: 15px; }
MetadataWindow QLabel#value { color: #cccccc; font-weight: bold; margin: 0px; margin-right:11px; }

MetadataWindow #artist_image {
    padding: 0px;  
    border: 1px solid #716f6f; 
    margin:15px; 
    margin-right: 4px;
    min-width: 85px; 
    min-height: 85px; 
}

QPushButton#love {
    background-image: url(:/love-rest.png);
}

QPushButton#love:hover {
    background-image: url(:/love-onhover.png);
}

QPushButton#love:pressed {
    background-image: url(:/love-onpress.png);
}

QPushButton#love:checked {
    background-image: url(:/love-isloved.png);
}

QPushButton#tag {
    background-image: url(:/tag.png);
}

QPushButton#share {
    background-image: url(:/share.png);
}

QStatusBar::item {
    border: none;
}

QTextBrowser, QLabel#title1, QLabel#title2 {
    color: #e6e6e6;
}

QTextBrowser {
    font-size: 12px;
    padding: 0px;
    margin: -7px 0px 0px -5px;
    border:none;
    background-color: rgb(20,20,20);
}

QLabel#title1 
{
    margin-left: -2px;
    font-size: 18px;
    font-weight:bold;
    padding-top:12px 12px 0px 0px;
}

QLabel#title2
{
    font-size: 12px;
    font-weight: bold;
    padding-top:12px 12px 0px 0px;
}

QScrollBar {
    background-color: #3b3b3b;
    border-radius: 5px;
    margin-left: -5px;
}

QScrollBar::add-page, 
QScrollBar::sub-page {
    background-color: transparent;
}

QScrollBar::handle {
    background-color: qlineargradient( x1:0, y1:0, x2:1, y2:0, stop:0 #878787, stop:1 #636464 );
    min-height: 20px;
    margin: 3px 3px 3px 0px;
    border-radius: 5px;
}

QScrollBar::sub-line,
QScrollBar::add-line {
    height: 0px;
}

QSizeGrip {
    margin-right: 2px;
    margin-bottom: 2px;
}

ScrobbleStatus#now_playing {
    margin: 0px;
    padding: 0px;
    color: #262626;
    border-top: 1px solid #d9eaef;
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #c2dfe7, stop:1 #8ba2a8 );
}

ScrobbleStatus QLabel {
    padding: 3 5 5 5;
    border: none;
    font-size: 11px;
    color: black;
    background: none;
}

a {
    color: #4c7699;
    text-decoration: none;
}

