unicorn--MainWindow {
    background-color: rgb(20,20,20);
}

MetadataWindow QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    height: 29px;
    width: 40;
}

MetadataWindow QLabel[alternate="true"] { background-color: rgb(31,31,31); }
MetadataWindow QLabel#name  { color: rgb(186,186,186); padding:3; margin-left:6px; }
MetadataWindow QLabel#value { color: rgb(147,147,147); padding:3; margin-right:6px; }

MetadataWindow #artist_image { border: 1px solid white; margin:12; }


QPushButton#love {
    background-image: url(:/love-rest.png);
}

QPushButton#love:hover {
    background-image: url(:/love-onhover.png);
}

QPushButton#love:pressed {
    background-image: url(:/love-onpress.png);
}

QPushButton#love:checked {
    background-image: url(:/love-isloved.png);
}

QPushButton#tag {
    background-image: url(:/tag.png);
}

QPushButton#share {
    background-image: url(:/share.png);
}

QStatusBar::item {
    border: none;
}

QTextBrowser, QLabel#title1, QLabel#title2 {
    color: rgb(220,220,220);
}

QLabel#title1 
{
    font-size: 13px;
    font-weight:bold;
    padding-top:12;
    padding-right:12;
}

QLabel#title2
{
    padding-right:12;
}

QTextBrowser {
    border:none;
    background-color: rgb(20,20,20);
}

#now_playing 
{
    padding: 4 6 4 6;
    color: rgb(186,186,186);
    background-color: rgb(31,31,31);
}

QScrollBar {
    background-color: #3b3b3b;
    border-radius: 6px;
    margin: 1px 0px 30px 0px;
}

QScrollBar::add-page, 
QScrollBar::sub-page {
    background-color: none;
}

QScrollBar::handle {
    background-color: #737373;
    min-height: 20px;
    max-height: 100px;
    border-radius: 6px;
}

QScrollBar::add-line,
QScrollBar::sub-line,
QScrollBar::up-arrow,
QScrollBar::down-arrow {
    border-color: none;
    background-color: none;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
    height: 15px;
}

QScrollBar::sub-line {
    bottom: 16px;
    color: red;
}

QScrollBar::add-line {
    top: 16px;
    color: red;
}

a {
    color: #2eb5db;
}
