unicorn--MainWindow {
    background: qlineargradient( x1:0, y1:0, x2: 0, y2:1, 
                                 stop:0 #211f20, stop:1 #383840 );
}

MetadataWindow QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    height: 29px;
    width: 40;
}

MetadataWindow QLabel[alternate="true"] {
    background-color: rgb(31,31,31);
}

MetadataWindow QLabel#name  { color: rgb(186,186,186); }
MetadataWindow QLabel#value { color: rgb(147,147,147); }

MetadataWindow #artist_image { border: 1px solid white; margin:12; }


QPushButton#love {
    background-image: url(:/love-rest.png);
}

QPushButton#love:hover {
    background-image: url(:/love-onhover.png);
}

QPushButton#love:pressed {
    background-image: url(:/love-onpress.png);
}

QPushButton#love:checked {
    background-image: url(:/love-isloved.png);
}

QPushButton#tag {
    background-image: url(:/tag.png);
}

QPushButton#share {
    background-image: url(:/share.png);
}

QStatusBar::item {
    border: none;
}

QTextBrowser, QLabel#title1, QLabel#title2 {
    color: rgb(220,220,220);
}

QLabel#title1 
{
    font-size: 13px;
    font-weight:bold;
    padding-top:12;
    padding-right:12;
}

QLabel#title2
{
    padding-right:12;
}

QTextBrowser {
    border:none;
    padding:12;
}

#now_playing 
{
    padding: 4 6 4 6;
    color: rgb(186,186,186);
    background-color: rgb(31,31,31);
}